<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.dao.GoodsAttrMapper">

    <!-- 分页查询规格参数列表，包含分组名称 -->
    <select id="selectPageWithGroupName" resultType="com.gec.domain.dto.GoodsAttrDTO">
        SELECT 
            a.id,
            a.create_time,
            a.update_time,
            a.deleted,
            a.attr_name,
            a.category_id,
            a.attr_group_id,
            a.attr_type,
            a.value_type,
            a.attr_value,
            a.searchable,
            a.status,
            g.group_name
        FROM tbl_goods_attr a
        LEFT JOIN tbl_goods_attr_group g ON a.attr_group_id = g.id
        <where>
            a.deleted = 0
            <if test="keyword != null and keyword != ''">
                AND a.attr_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="categoryId != null">
                AND a.category_id = #{categoryId}
            </if>
            <if test="attrType != null">
                AND a.attr_type = #{attrType}
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
