<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.dao.BrandCategoryMapper">

    <!-- 根据类别ID删除关联关系 -->
    <delete id="deleteByCategoryId">
        DELETE FROM tbl_brand_category WHERE category_id = #{categoryId}
    </delete>

    <!-- 根据品牌ID删除关联关系 -->
    <delete id="deleteByBrandId">
        DELETE FROM tbl_brand_category WHERE brand_id = #{brandId}
    </delete>

    <!-- 批量插入关联关系 -->
    <insert id="batchInsert">
        INSERT INTO tbl_brand_category (brand_id, brand_name, category_id, category_name, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.brandId}, #{item.brandName}, #{item.categoryId}, #{item.categoryName}, NOW())
        </foreach>
    </insert>

</mapper>
